<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tallena | An error has occurred</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/errors.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404" style="background-image: url('../img/{{image}}')"></div>
            <h1>{{statusCode}}</h1>
            <h2>{{title}}</h2> 
            <p>{{message}}</p> 
            <a href="{{linkHome}}">{{linkDescription}}</a>
        </div>
    </div>
</body>

</html>
