<!-- MENU FILTROS -->
<aside class="ui secondary mini menu">
    <!-- Buscador -->
    <div class="item">
        <div class="ui transparent icon small input">
            <input id="search" type="text" placeholder="Buscar persona...">
            <i class="search icon"></i>
        </div>
    </div>

    <div class="right menu">
        <div class="item">
            <div class="ui mini buttons">
                <button class="ui basic button"><i class="upload icon"></i> Importar</button>	
                <button class="ui basic button"><i class="download icon"></i> Exportar</button>
            </div>
        </div>
        <div class="item">
            <button class="ui button" onclick="location.reload();"><i class="retweet icon"></i> Refrescar</button>
            </div>
    </div>
</aside>

<div class="ui hidden divider"></div>

<!-- CONTENIDO PRINCIPAL -->
<main id="main" class="ui fluid container">
    <table class="ui single line very compact small table">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Datos</th>
                <th>Pertenece a</th>
                <th>Comentarios</th>
                <th class="one wide">Ult. Modificacion</th>
                <th class="one wide">Creado por</th>
                <th class="one wide"></th>
                <th class="one wide"></th>
                <th class="one wide"></th>
                <th class="one wide"></th>
            </tr>
        </thead>
        <tbody>
            {{#each userData}}
                <tr>
                    <td>
                        <div class="ui fitted checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </td>
                    <td>
                        <h5 class="ui header">
                            <a href="#" class="content">{{name}}
                                <div class="sub header">{{username}}</div>
                            </a>
                        </h5>
                    </td>

                    <td>
                        <a href="mailto:{{email}}">{{email}}</a> 
                        <br>
                        <a href="tel:{{phone}}">{{phone}}</a>
                    </td>
                    <td>
                        Grupos: 
                        <br>
                        Perfil: {{#if profile}} {{profile}} {{else}} ninguno {{/if}} 
                    </td>
                    <td>
                        {{about}}
                    </td>
                    <td>
                        {{createdByName}}
                        <br>
                        {{!-- {{createdAt}} --}}
                    </td>
                    <td>
                        {{updatedByName}}
                        <br>
                        {{!-- {{updatedAt}} --}}
                    </td>
                    <td><button class="ui mini button">Defaults</button></td>
                    <td><button class="ui mini button">Permisos</button></td>
                    <td><button class="ui mini button">Contraseña</button></td>
                    <td>
                        {{#with properties}}
                            {{#if enabled}}
                                <button class="ui red mini icon button"><i class="trash alternate icon"></i></button>
                                {{else}}
                                <button class="ui teal mini icon button"><i class="user plus icon"></i></button>
                            {{/if}}
                        {{/with}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</main>

<script src="/js/users.js"></script>