<!-- FILTER MENU -->
<aside class="ui secondary mini menu">
    <!-- New -->
    <div class="item">
        <div id="newUser" class="ui primary button"><i class="user plus icon"></i>Nuevo</div>
    </div>

    <!-- Search -->
    <div class="item">
        <div class="ui transparent icon input">
            <input id="search" type="text" placeholder="Nombre, usuario o email...">
            <i class="search icon"></i>
        </div>
    </div>

    <div class="right menu">
        <!-- Import & Export -->
        <div class="item">
            <div class="ui mini buttons">
                <button class="ui basic button"><i class="upload icon"></i> Importar</button>	
                <button class="ui basic button"><i class="download icon"></i> Exportar</button>
            </div>
        </div>

        <!-- Refresh -->
        <div class="item">
            <button class="ui button" onclick="location.reload();"><i class="retweet icon"></i> Refrescar</button>
        </div>
    </div>
</aside>

<div class="ui hidden divider"></div>

<!-- MAIN CONTENT -->
<section id="main" class="ui fluid container">
    <table class="ui single line very compact small table">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Datos</th>
                <th>Pertenece a</th>
                <th>Comentarios</th>
                <th class="one wide">Ult. Modificacion</th>
                <th class="one wide">Creado por</th>
                <th class="one wide"></th>
                <th class="one wide"></th>
                <th class="one wide"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each userList}}
                <tr>
                    <td>
                        <div class="ui fitted checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </td>
                    <td>
                        <h5 class="ui header">
                            <a href="#" class="content">{{name}}
                                <div class="sub header">{{username}}</div>
                            </a>
                        </h5>
                    </td>

                    <td>
                        <a href="mailto:{{email}}"><i class="envelope outline icon"></i> {{email}}</a> 
                        <br>
                        <a href="tel:{{phone}}"><i class="phone icon"></i> {{phone}}</a>
                    </td>
                    <td>
                        Grupos: 
                        <br>
                        Perfil: {{#if profile}} {{profile}} {{else}} ninguno {{/if}} 
                    </td>
                    <td>
                        {{about}}
                    </td>
                    <td>
                        {{createdByName}}
                        <br>
                        {{!-- {{createdAt}} --}}
                    </td>
                    <td>
                        {{updatedByName}}
                        <br>
                        {{!-- {{updatedAt}} --}}
                    </td>
                    <td><button class="ui mini button">Defaults</button></td>
                    <td><button class="ui mini button">Permisos</button></td>
                    <td><button class="ui mini button">Contraseña</button></td>
                    <td>
                        {{#with properties}}
                            {{#if enabled}}
                                <button class="ui mini icon button"><i class="close icon"></i></button>
                                {{else}}
                                <button class="ui mini icon button"><i class="check icon"></i></button>
                            {{/if}}
                        {{/with}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<!-- NEW USER MODAL -->
<div class="ui small modal">
    <div class="header">Nuevo Usuario</div>
    <div class="content">
        
    </div>
</div>

<script src="/js/users.js"></script>